<html>
    <head>
        <title>Pandoru</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Interactive web page built with Pandoru framework">
        <meta name="author" content="Polowis">
       
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">

    </head>
        <body>
            <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
                <div class="container">
                    <div class="navbar-translate">
                        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                        {% if current_user.is_authenticated %}
                        <a class="navbar-brand" href="/">{{ current_user.username }}</a>
                        {% else %}
                        <a class="navbar-brand" href="/">Pandoru</a>
                        {% endif %}
                    </div>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                    <p class="hidden-lg-up">Twitter</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/polowis.hungtran" target="_blank">
                                    <i class="fa fa-facebook-square"></i>
                                    <p class="hidden-lg-up">Facebook</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                    <p class="hidden-lg-up">Instagram</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/polowis" target="_blank">
                                    <i class="fa fa-github"></i>
                                    <p class="hidden-lg-up">GitHub</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                {% if current_user.is_authenticated %}
                                <a href="/logout" class="btn btn-danger btn-round" onclick="event.preventDefault();
                                document.getElementById('logout-form').submit();">Logout</a>
                                {% else %}
                                <a href="/register" class="btn btn-danger btn-round">Register</a>
                                {% endif %}
                            </li>

                            <form id="logout-form" action="/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="wrapper">
                <div class="page-header section-dark" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg')">
                    <div class="filter"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="title-brand">
                                <h1 class="presentation-title">Pandoru</h1>
                                <div class="fog-low">
                                    <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                                </div>
                                <div class="fog-low right">
                                    <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                                </div>
                            </div>
        
                            <h2 class="presentation-subtitle text-center">A framework built on top of Flask</h2>
                        </div>
                    </div>
                    <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">
        
                    </div>
                </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
          <script src="{{ url_for('static', filename='js/index.js')}}"></script>
        </body>
          
   
</html>